@charset "UTF=8";
@font-face {
    font-family:'fontninja';
    src: url('karasha/Karasha\ \(DEMO\).ttf') format('truetype');
}

body{
    font-family: arial , helvetica , sans-serif;
    background-color: blueviolet;

}

header{
    text-align: center;
}
header > h1{
    color: white;
    font-family:'fontninja';
    font-weight: normal;
    font-size: 3em;
}
section{
    min-width:200px;
    max-width:600px;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    min-height: 300px;
    padding: 30px;
    background-color: white;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.322);
}
fieldset{
    border-radius: 5px;
}
legend{
    color: blueviolet;
    text-shadow: 0px 0px 8px black;
}

button#button{
    margin-top: 10px;
    margin-left:3px;
    border-radius: 5px;
    padding:3px 10px;
   

}
button#button:hover{
    background-color: #606060;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
    color: aliceblue;
}
img#imagem{
    display: block;
    margin: auto;
}

p#resultado{
    margin-top: 50px;
    margin-left: 3px;
    text-align: center;
    font-weight: bold;

}
footer{
    text-align: center;
}
footer > p {
    color: white;
}

footer > p > a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}