@charset "utf=8";

input{
    border-radius: 5px;
    text-align: center;
}
div#soma{
   text-align: center;
   border-radius: 5px;
   margin-top: 5px;
   margin-bottom: 15px;
   border: 1px solid black;
   width: 378px;
   height: 20px;
   background-color: white;
}
div#subtracao{
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 378px;
    height: 20px;
    background-color: white;
 }
 div#dividir{
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 378px;
    height: 20px;
    background-color: white;
 }
 div#multiplicar{
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 378px;
    height: 20px;
    background-color: white;
 }
span{
   background-color: white;
   border: 1px solid black;
   border-radius: 50px;
}
#mais{
    border: 2px solid black;
    width: 438px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px auto;
    background-color: blue;
}
#menos{
    border: 2px solid black;
    width: 438px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: red;
}
#divisao{
    border: 2px solid black;
    width: 438px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: yellow;
}
#multiplicacao{
    border: 2px solid black;
    width: 438px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: green;
}


h1{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}