@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(68, 56, 41);
}
header > h1 {
    text-align: center;
    margin-bottom:20px;
    color: white;

}
section{
    min-width:270px;
    max-width:550px;
    height: 330px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.63);
}

div#um{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
div#dois{
    text-align: center;
    
}
div#dois > img {
    border-radius: 50%;
}
footer > p {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-style: italic;
    
}

